<!DOCTYPE html>
<html lang="en">

<head>
  <title>SoccerStats &mdash; Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
 <style>
  .site-menu .active:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff; /* Couleur du tiret */
    position: absolute;
    bottom: -5px; /* Ajustez la position verticale selon vos besoins */
    left: 0;
  }
</style>


</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
  
    <header class="site-navbar py-4" role="banner">
      <div class="container"> <!-- Retour à la classe container sans mx-auto -->
          <div class="row justify-content-center align-items-center"> <!-- Utilisation des classes Bootstrap pour aligner les éléments -->
              <div class="col-lg-2 col-md-4 col-6">
                  <div class="site-logo">
                      <a href="{{ url_for('index') }}">
                          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                      </a>
                  </div>
              </div>
              <div class="col-lg-8 col-md-8 d-none d-lg-block">
                  <nav class="site-navigation text-center" role="navigation">
                      <ul class="site-menu main-menu js-clone-nav">
                          <li {% if active_tab == 'home' %} class="active" {% endif %}>
                              <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                          </li>
                          <li {% if active_tab == 'matches' %} class="active" {% endif %}>
                              <a href="{{ url_for('matches') }}" class="nav-link">Ligue 1</a>
                          </li>
                          <li {% if active_tab == 'liga' %} class="active" {% endif %}>
                              <a href="{{ url_for('liga') }}" class="nav-link">Liga</a>
                          </li>
                          <li {% if active_tab == 'serieA' %} class="active" {% endif %}>
                              <a href="{{ url_for('serieA') }}" class="nav-link">Série A</a>
                          </li>
                          <li {% if active_tab == 'bundesliga' %} class="active" {% endif %}>
                              <a href="{{ url_for('bundesliga') }}" class="nav-link">Bundesliga</a>
                          </li>
                          <li {% if active_tab == 'PL' %} class="active" {% endif %}>
                              <a href="{{ url_for('PL') }}" class="nav-link">PL</a>
                          </li>
                          <li>
                            <a href="{{ url_for('dashboard') }}" class="nav-link">Dashboard</a>
                          </li>
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-2 col-md-4 col-6 text-right">
                  <a href="#" class="site-menu-toggle js-menu-toggle text-black float-right text-white">
                      <span class="icon-menu h3 text-white"></span>
                  </a>
              </div>
          </div>
      </div>
  </header>

  <div class="hero overlay d-flex justify-content-center align-items-center" style="background-image: url('http://wallpapercave.com/wp/Mx8QOkb.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="row">
            <div class="col-lg-5 mx-auto text-center">
                <h1 class="text-white text-center">Soccer Stats</h1>
                <p class="text-white text-center">Bienvenue dans Soccer Stats, découvrez des analyses et prédictions pertinentes de vos championnats préférés du big five européen !</p>
                <div id="date-countdown"></div>
                <p class="text-center">
                    <a class="more light">Si vous souhaitez mettre à jour vos championnats à la dernière journée joué, cliqué dans les boutons ci-dessous !</a>
                </p>
                <div class="btn-group d-flex justify-content-center" role="group" aria-label="Championships">
                    <button class="btn btn-primary mr-4" id="buttonLigue1" onclick="updateChampionship('Ligue 1')">Update Ligue 1</button>
                    <button class="btn btn-primary mr-4" id="buttonLiga" onclick="updateChampionship('Liga')">Update Liga</button>
                    <button class="btn btn-primary mr-4" id="buttonSerieA" onclick="updateChampionship('Série A')">Update Série A</button>
                    <button class="btn btn-primary mr-4" id="buttonBundesliga" onclick="updateChampionship('Bundesliga')">Update Bundesliga</button>
                    <button class="btn btn-primary" id="buttonPL" onclick="updateChampionship('PL')">Update PL</button>
                </div>
                <div id="loading-message" class="text-center mt-3" style="display: none;">
                  <p class="text-white">Mise à jour en cours...</p>
                  <!-- Vous pouvez également ajouter une icône de chargement ici -->
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>





  </div>
  <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>


  <script src="js/main.js"></script>
  <script>
  function updateChampionship(championship) {
    // Afficher le message de chargement
    document.getElementById('loading-message').style.display = 'block';

    // Effectuer une requête AJAX POST vers votre route Flask
    // Assurez-vous d'ajuster l'URL de la route en fonction de votre configuration
    fetch(`/update_championship/${championship}`, {
        method: 'POST',
    })
    .then(response => {
        // Cacher le message de chargement une fois la réponse reçue
        document.getElementById('loading-message').style.display = 'none';

        // Vérifier si la réponse est OK (200)
        if (response.ok) {
            // Afficher un message de succès ou effectuer d'autres actions si nécessaire
            console.log('Championship updated successfully!');
        } else {
            // Gérer les erreurs de réponse, par exemple, afficher un message d'erreur
            console.error('Failed to update championship:', response.statusText);
        }
    })
    .catch(error => {
        // Cacher le message de chargement en cas d'erreur
        document.getElementById('loading-message').style.display = 'none';

        // Attraper les erreurs de requête, par exemple, afficher un message d'erreur
        console.error('Error updating championship:', error);
    });
}




</script>

</body>

</html>